body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 16px;
    background-color: black;
    color: #39ace7;
    background: repeating-linear-gradient(to bottom, black, #152331, black);
    transition: background-color 0.3s, color 0.3s;
    background-size: 100% 200%; /* Ajusta a altura do gradiente repetido */
}

#navbar {
    position: fixed;
    z-index: 1000; /* Fica sempre por cima dos outros elementos */
}

#navbar .topo {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 18px;
    background-color: black;
    padding-top: 10px;
}

#navbar .topo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#navbar .topo ul li a, #navbar ul li button{
    color: #39ace7; /* #0784b5; */
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    background-color: transparent;
    border: none;
}

#navbar .topo ul li a:hover, #navbar ul li button:hover {
    background-color: #152331;
    margin-top: 5px;
    padding: 10px 20px;
    border-radius: 5px;
}

#menu ul li {
    margin: 0 15px;
}

.logo, #menu, #sociais, .menu-hamburger, .foto {
    display: flex;
    margin: 0 10px;
}

.menu-hamburger, .foto {
    display: none;
    /* background-color: yellow; */
}

.logo {
    flex: 1;
    justify-content: end;
    /* background-color: red; */
}

#menu {
    flex: 2;
    justify-content: center;
    /* background-color: yellow; */
}

#sociais {
    flex: 1;
    display: flex;
    /* justify-content: center; */
    /* background-color: green; */
}

.nome{
    font-weight: bold;
}

.github, .linkedin, .gmail, .whatsapp, .hamburger {
    width: 24px;
}

.foto-perfil{
    width: 30px;
    border-radius: 50%; /* Faz a imagem redonda */
    object-fit: cover; /* Garante que a imagem se ajuste bem no círculo */
    padding: 2px;
    border: #39ace7 solid 2px;
}

.menu-suspenso {
    display: none;
}

.menu-suspenso.show {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 68px;
    width: 100%;
    font-size: 18px;
    background-color: black;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    border: solid 1px #39ace7;
}

.menu-suspenso.show ul {
    list-style-type: none;
}

.menu-suspenso.show ul li {
    
}

.menu-suspenso.show ul li a {
    text-decoration: none;
    color: #39ace7;
}

section {
    padding: 100px;
    height: 100vh;
    box-sizing: border-box;
    /* margin-top: 50px; */
}

footer {
    text-align: center;
    border-top: solid 1px #39ace7;
    background-color: black;
    /* padding: 100px;
    height: 100vh;
    box-sizing: border-box; */
}

footer section {
    height: 0;
    padding: 0;
    margin: 20px 0;
    box-sizing: border-box;
}

.footer-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

footer section ul {
    list-style-type: none;
    margin: 0 20px;
    padding: 0;
    text-align: left;
}

footer section ul li {
    margin: 20px;
}

footer section ul li a{
    text-decoration: none;
    color: #39ace7;
}

footer section ul li a span{
    margin-left: 10px;
}

.copyright {
    padding: 20px;
}